# Ignorar TODO por defecto
*

# Excepción: permitir estos directorios y fichero
!data/
!data/**
!scripts/
!scripts/**
!README.md
!.gitignore

# Dentro de scripts, ignorar la carpeta de outputs generados localmente
scripts/output/
.Rproj.user

/.quarto/
**/*.quarto_ipynb
